button, input[type='submit'] {
	background-color: var(--red-bg-color);
	border: none;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	max-width: min-content;
	padding: .5em 1em;
	text-align: center;
}